



.contact {
    display: flex;
    min-width: 100%;
    position: relative;
    flex-direction: column;
    overflow: hidden;
}
.contact .background {
    position: absolute;
    z-index: -100;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.contact .divider {

    position: absolute;
    height: 100%;
    width: clamp(1000px, 100%, 100%);
    z-index: -1;
    bottom: 0;
}

.contact .content {
    margin-top: 150px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-items: baseline;
    justify-content: space-evenly;
}

.contact .content .contact-form {

    width: clamp(100px, 80%, 600px);
    margin-right: 50px;
    padding: 50px;
}
.contact-form label {
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.contact-form #name, #email, #message {
    display: block;
    padding: 12px 12px;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 20px;
    width: clamp(50px, 100%, 600px);
    font-weight: 600;
    letter-spacing: 0.4px;
}
.contact-form #name:focus, #email:focus, #message:focus {
    outline: none;
    border: 2px solid orange;
}


.contact-form #message {
    line-height: 20px;
}
.contact-form  #submit {
    padding: 10px 60px;
    font-size: 20px;
    background-color: #F8F1B8;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 600;
    transition: opacity 0s, background-color 0s;
}
.contact-form  #submit:hover {
    background-color: orange;
}
.contact-form  #submit:active {
    background-color: white;
}
.contact-form h1, .contact-details h1 {
    color: white;
    font-size: 70px;
    font-weight: 600;
}

.contact-details {
    margin: 50px 20px 50px 20px;
    width: clamp(100px, 100%, 600px);
}
.contact-details h3 {
    color: white;
    margin-bottom: 10px;
    width: 90%;
}
.contact-details #map-div {
    margin-top: 50px;
    width: 100%;
    height: 300px;
}
.contact-details #map-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1000px) {
    .contact-form h1 {
        font-size: 60px;
    }
}

@media (max-width: 1000px) {
    .contact-form h1 {
        font-size: 40px;
    }
}
@media (max-width: 800px) {
    .contact-form h1 {
        font-size: 50px;
    }
}
@media (max-width: 600px) {
    .contact-form h1 {
        font-size: 40px;
    }
}
