.header {
    position: relative;
}

.finder {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

.finder .background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

    z-index: -2;
}
.finder .opacity {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100vh;
}
.finder .find-div {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
    /* background-color: rgba(0, 0, 0, 0.4); */
}
.input-div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.search-div {
    max-width: 500px;
    min-width: 100px;
}
.radius-div {
    max-width: 100px;
    min-width: 0px;
}
.area-div {
    max-width: 300px;
}
#search, #radius, #area {
    display: block;
    padding: 6px 10px;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: 600;
    letter-spacing: 0.4px;
    width: 80%;
}
#search:focus, #radius:focus, #area:focus {
    outline: none;
    border: 2px solid orange;
}


.finder-content {
    display: flex;
    flex-direction: row;

    
}



.sort-div {
    position: sticky;
    top: 0; /* Stick sorting div to the top */

    z-index: 1; /* Ensure sorting div stays above sidebar content */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Optional: add a border to separate from content */
}
.sidebar-div {
    display: flex;
    flex-direction: column;
    max-height  : 80vh; /* Ensure sidebar takes full height */
    overflow: hidden; /* Hide overflow to avoid unnecessary scrollbars */
    width: clamp(270px, 30%, 500px);

}
.sidebar {
    flex: 1; /* Allow sidebar content to take remaining height */
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling for sidebar content */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
.sidebar-div .sort-div {
    margin-left: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebar-div h3 {
    margin-right: 20px;
    font-weight: 400;
}
.sidebar-div span {
    font-size: 20px;
    color: #FE7F7F;
}
.cafe-card {
    overflow: hidden;
    width: 90%;
    display: flex;
    cursor: pointer;
    transition: background-color 0s, color 0s;
    padding: 20px;
}
.cafe-card.active {
    background-color: black;
}
.cafe-card:hover {
    background-color: rgba(0,0,0,0.8);
    background-color: white;
    color: black;
}
.cafe-card div {
    min-width: 50%;
}
.cafe-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.cafe-card p {
    font-size: 12px;
}
.cafe-card .img-div {
    display: flex;
    justify-content: center;
}
.cafe-card img {
    object-position: center;
    object-fit: cover;
    height: 100%;
    margin-right: 10px;
    width: 100%;
    height: 100px;
}


.cafe-details {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    max-height: 70vh;
}
.cafe-map-div {
    border: 1px solid white;
    width: 80%;
    display: inline-block;
    min-height: 500px;
}





@media (max-width: 600px) {
    .area-div {
        display: none;
    }
    .sidebar {
        width: 100%;
        max-width: none;
    }
}
@media (max-width: 400px) {
    .radius-div {
        display: none;
    }
}

@media (max-width: 1000px) {
    .cafe-card {
        flex-wrap: wrap;
    }
}

