.header {
    position: relative;
}

.finder {
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
}

.finder .background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;

    z-index: -2;
}

.finder .find-div {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.4);
}
.input-div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.search-div {
    max-width: 500px;
    min-width: 100px;
}
.radius-div {
    max-width: 100px;
    min-width: 0px;
}
.area-div {
    max-width: 300px;
}
#search, #radius, #area {
    display: block;
    padding: 6px 10px;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: 600;
    letter-spacing: 0.4px;
    width: 80%;
}
#search:focus, #radius:focus, #area:focus {
    outline: none;
    border: 2px solid orange;
}


.finder-content {
    display: flex;
    flex-direction: row;

    
}

.sidebar-div {
    overflow-y: hidden;
    width: 30%;
}
.sidebar {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    max-width: 400px;
    overflow-y: auto;
    border-right: px solid white;
}

.sidebar-div .sort-div {
    margin-left: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sidebar-div h3 {
    margin-right: 20px;
    font-weight: 400;
}
.sidebar-div span {
    font-size: 20px;
    color: #FE7F7F;
}
.cafe-card {
    overflow: hidden;
    width: 90%;
    display: flex;
    cursor: pointer;
    transition: background-color 0s, color 0s;
    padding: 20px;
}
.cafe-card.active {
    background-color: black;
}
.cafe-card:hover {
    background-color: rgba(0,0,0,0.8);
    background-color: white;
    color: black;
}
.cafe-card div {
    min-width: 50%;
}
.cafe-card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.cafe-card p {
    font-size: 12px;
}
.cafe-card img {
    height: 100%;
    margin-right: 10px;
    height: 100px;
}



.cafe-map-div {

    border: 1px solid white;
    width: 50%;
    height: 50%;
}





@media (max-width: 600px) {
    .area-div {
        display: none;
    }
    .sidebar {
        width: 100%;
        max-width: none;
    }
}
@media (max-width: 400px) {
    .radius-div {
        display: none;
    }
}

@media (max-width: 1000px) {
    .cafe-card {
        flex-wrap: wrap;
    }
}

