
.home {
    width: 100%;
    height: 100vh;
    
    background-image: url(../assets/background.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home::before {
    z-index: 0;
    position: fixed;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}


.home .divider {
    width: 100%;
    position: absolute;
    bottom: 0
}

